<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flatiron.slice()</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>

  <header>
    <h2>Flatiron.slice()</h2>
  </header>


  <body>

    <div class="clearfix"></div>

        <% @bizs_from_yelp.each do |biz| %>
          <div class="BizEntity">
            <div class="NameAddressStars">
              <h2><%= biz.name %></h2>
              <img src="<%= biz.rating_img %>" height="25">
              <h4><%= biz.address %> </h4>
              <%= biz.coord %>
            </div>

            <div class="PhoneReviewYelp">
            <p><%= biz.phone %></p>
            <p><%= biz.review_snippet %></p>
            <a href="<%= biz.yelp_page %>"><%= biz.name %> Yelp Page</a>
              
            </div>

            <div class="BizPhoto">
              <img src="<%=biz.img_url %>">
            </div>
          </div>

<!--
          <center><h3><font face="impact"><%= biz.name %></font></h3></center>
           <center><img src="<%= biz.rating_img %>"</center>
           <center><h5><font face="impact"><%= biz.address %></font></h5></center>
           <center><img src="<%=biz.img_url %>"</center>
            <center><h5><%= biz.phone %></h5></center>
            <div style="width: 25%; height: 50px; overflow: auto; scrollbar-face-color: #CE7E00; scrollbar-shadow-color: #FFFFFF; br /scrollbar-highlight-color: #6F4709; scrollbar-3dlight-color:#11111; scrollbar-darkshadow-color: #6F4709; br /scrollbar-track-color: #FFE8C1; scrollbar-arrow-color: #6F4709;"><%= biz.review_snippet %></div>
            <p></p>
              <center><a href="<%= biz.yelp_page %>">Yelp Page</a></center>
              <p></p>
              <p></p>
-->
        <% end %>
  </body>

  <footer>
    
  </footer>


</html>